body{
 background-image: url("https://wallpaperaccess.com/full/6712750.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
}

.formulario{
    width: 320px;
    height: 560px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}

.avatar{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    top: -75px;
    left: 30%;
}
.formulario h1{
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 15px;
}
.label{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display:block;
    text-align:center;
    margin-bottom: 20px;
    position:relative;
    top: 20px;
}
.input{
    width: 100%;
    color: gainsboro;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 18px;
    outline: none;
    font-size: 20px;
    position: relative;
    top: 20px;
}
.button{
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    position: relative;
    top: 20px
    
}
.button:hover{
    cursor:pointer;
    background-color: rgb(208, 181, 5);
}
a{
    color: gray;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10px;
}
a:hover{
    color: white;
}
.facebook{
    background-color: rgb(51, 95, 161);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.google{
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.google2{
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    top: 8px;
    left: 8px;
    
}

h3{
    text-align: center;
    color: rgba(255, 255, 255, 0.662);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 3px solid red ;
    position: relative;
    top: 10px;
    padding-bottom: 15px;
}
.padre{
    display:flex;
    justify-content: center;
    gap: 50px;
    margin-top: -15px;

}

.facebook:hover{
    cursor:pointer;
    background-color: rgb(208, 181, 5);
}
.google:hover{
    border: 4px solid rgb(208, 181, 5);
}

.labelf{
    color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;    
    margin-bottom: 20px;  
}
.check{
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
   
    
}
@media only screen and (max-width: 600px) {
    .formulario{
        width: 80%;
        height: 560px;
        margin: 5% 1%;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
        position: absolute;
        top: 400px;
       
    } 
    .avatar{
        border-radius: 50%;
        width: 130px;
        height: 130px;
        position: absolute;
        top: -75px;
        left: 38%;
    }
}